@import "./Assets/CSS/typeColors.css";

body {
  margin: 150px 0;

  font-family: "Exo 2", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 243, 224);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(202, 154, 75);
  margin: auto;
  z-index: 998;
  color: white;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 1.5em;
  border-bottom: 4px dotted white;
}

.header h1 {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: fit-content;
}

.searchBy {
  position: absolute;
  left: 10%;
  top: 10px;
  line-height: 25px;
  text-align: center;
}

.header p {
  margin: 5px 5px;
  padding: 0 7px;
  font-size: 18px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 10px;
}

.header p:hover {
  background-color: white;
  color: rgb(202, 154, 75);
  font-weight: bold;
}

.header h4 {
  margin: 2px 0 10px 0;
}

.selectionContainer {
  width: 400px;
  height: 405px;
  display: inline-block;
  cursor: pointer;
}

.selectionContainer h1 {
  margin: 0;
  margin-bottom: 20px;
  color: rgb(202, 154, 75);
  transition: 0.4s all;
}

.selectionContainer:hover > h1 {
  color: black;
}

.selectionContainer:hover > #imageContainer img {
  border: 10px solid black;
  opacity: 1;
  transform: scale(1.05);
}

.selectionContainer #imageContainer {
  height: 360px;
  width: 360px;
  margin: 0 auto;
}

.selectionContainer #imageContainer img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border: 10px solid rgb(202, 154, 75);
  border-radius: 50px;
  transition: 0.4s all;
  opacity: 0.6;
}

.imageContainer {
  margin: auto;
  height: 300px;
  width: 80%;
  line-height: 300px;
  text-align: center;
}

.imageContainer img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.generation {
  vertical-align: top;
  position: relative;
  width: 350px;
  height: 400px;
  cursor: pointer;
  display: inline-block;
  border: 10px solid rgb(202, 154, 75);
  border-radius: 50px;
  margin: 0 2% 2% 2%;
  background-color: rgb(255, 243, 224);
  font-size: 2em;
  transition: 0.4s all;
  opacity: 0.6;
}

.generation:hover {
  border: 10px solid black;
  opacity: 1;
  transform: scale(1.05);
}

.generation:hover > p {
  color: black;
  opacity: 1;
}

.generation p {
  margin: 3%;
  font-weight: bold;
  color: rgb(202, 154, 75);
  transition: 0.4s all;
}

.generationDiv h1 {
  margin-bottom: 4%;
}

.generationDiv .sorting {
  display: inline-block;
  margin-right: 6%;
  font-size: 1em;
}

.sorting {
  margin-right: 5%;
}

#sort {
  font-size: 1em;
}

label {
  margin-right: 5px;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  line-height: 31px;
}

.fixedBar {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 243, 224);
  top: 100px;
  padding-bottom: 20px;
  z-index: 900;
}

.fixedBar #container {
  width: 70%;
  margin: 0 auto;
}

#search {
  display: inline-block;
}

#searchInput {
  font-size: 1.5em;
  border: none;
  border-bottom: 2px solid rgb(202, 154, 75);
  background-color: transparent;
  color: rgb(53, 53, 53);
  outline: none;
}

#magnifyingGlass {
  height: 30px;
  width: 30px;
  margin-left: 10%;
  margin-right: 2%;
  display: inline-block;
}

.pokedex {
  vertical-align: top;
  width: 12%;
  display: inline-block;
  border: 4px solid rgb(202, 154, 75);
  border-radius: 10px;
  margin: 1%;
  cursor: pointer;
  padding: 1% 0.5%;
  font-weight: bold;
  transition: 0.4s all;
}

.pokedex:hover {
  border: 4px solid black;
  transform: scale(1.05);
}

.pokemonContainer {
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
}

.pokemon {
  vertical-align: top;
  width: 12%;
  height: 150px;
  display: inline-block;
  border: 4px solid rgb(202, 154, 75);
  border-radius: 10px;
  margin: 1%;
  cursor: pointer;
  padding: 1% 0.5%;
  font-weight: bold;
  transition: 0.4s all;
}

.extended {
  height: 170px;
}

.pokemon:hover {
  border: 4px solid black;
  transform: scale(1.1);
}

.pokemonImageContainer {
  margin: auto;
  margin-bottom: 15px;
  height: 100px;
  width: 80%;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

.pokemon img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 100px;
  vertical-align: middle;
}

.speciesContainer {
  width: 70%;
  margin: 0 auto;
}

.fixedBack {
  position: fixed;
  width: 100%;
  top: 100px;
  background-color: rgb(255, 243, 224);
}

.back {
  position: fixed;
  top: 0;
  width: fit-content;
  border: 3px solid white;
  border-radius: 10px;
  padding: 6px 25px;
  text-align: center;
  cursor: pointer;
  margin-left: 10%;
  margin-top: 28px;
  z-index: 999;
  color: white;
}

.back:hover {
  background-color: white;
  font-weight: bold;
  color: rgb(202, 154, 75);
}

.regionList {
  width: 80%;
  margin: 0 auto;
}

.regionList h1 {
  margin: 0;
  margin-bottom: 15px;
  color: rgb(202, 154, 75);
  transition: 0.4s all;
}

.regionContainer {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin: 2% 1%;
  cursor: pointer;
  transition: 0.4s all;
}

.regionContainer .imageContainer {
  width: 380px;
  height: 270px;
}

.regionContainer .imageContainer img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border: 10px solid rgb(202, 154, 75);
  border-radius: 50px;
  transition: 0.4s all;
  opacity: 0.6;
  vertical-align: top;
}

.regionContainer:hover {
  transform: scale(1.1);
}

.regionContainer:hover > h1 {
  color: black;
}

.regionContainer:hover > .imageContainer img {
  border: 10px solid black;
  opacity: 1;
}

.regionHeader {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.regionHeader h1 {
  display: inline-block;
  font-size: 3em;
  margin: 0;
  margin-bottom: 10px;
}

.regionHeader h2 {
  display: inline-block;
  vertical-align: bottom;
  border: 3px solid rgb(202, 154, 75);
  border-radius: 10px;
  height: fit-content;
  padding: 3px 7px;
  cursor: pointer;
}

.regionHeader h2:hover {
  background-color: rgb(202, 154, 75);
  font-weight: bold;
  color: rgb(255, 243, 224);
}

.region {
  margin-top: -30px;
}

.region .regionImg {
  width: 40%;
  display: block;
  margin: 0 auto;
  border: 10px solid rgb(202, 154, 75);
}

.locationList {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.locationEntry {
  display: inline-block;
  border: 3px solid rgb(202, 154, 75);
  border-radius: 10px;
  padding: 5px 7px;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s all;
}

.locationEntry:hover {
  border: 3px solid black;
  transform: scale(1.1);
}

.locationDetail {
  border: 5px solid rgb(202, 154, 75);
  border-radius: 50px;
  width: 100%;
  margin: 0 auto;
}

.locationDetail .locationHeader {
  background-color: rgb(202, 154, 75);
  border-radius: 40px 40px 0 0;
  height: 100px;
  position: relative;
}

.locationDetail h1 {
  margin: 0;
  padding-top: 19px;
  color: rgb(255, 243, 224);
  font-size: 2.5em;
}

.arrowBack {
  border: solid rgb(255, 243, 224);
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  cursor: pointer;
  top: 29px;
  left: 5%;
}

.arrowBack:hover {
  border: solid black;
  border-width: 0 10px 10px 0;
}

.areas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
}

.areaContainer {
  display: inline-block;
  text-align: left;
}

.areaContainer h1 {
  color: black;
  font-size: 2em;
}

.areaContainer2 {
  vertical-align: middle;
  margin-bottom: 10px;
}

.versionContainerPokemon {
  display: inline-block;
  margin: 0;
  margin-right: 6px;
  vertical-align: middle;
  cursor: pointer;
}

.versionContainer {
  display: inline-block;
  vertical-align: middle;
}

.version {
  width: fit-content;
  height: 20px;
  padding: 2px 5px;
  border-radius: 7px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  margin: 0 2px;
}

.versionRed {
  background-color: rgb(251, 27, 27);
  color: white;
}

.versionBlue {
  background-color: rgb(0, 50, 190);
  color: white;
}

.versionYellow {
  background-color: rgb(255, 224, 0);
  color: black;
}

.versionGold {
  background-color: rgb(255, 196, 70);
  color: black;
}

.versionSilver {
  background-color: rgb(204, 204, 204);
  color: black;
}

.versionCrystal {
  background-color: rgb(128, 221, 245);
  color: black;
}

.versionFireRed {
  background-color: rgb(251, 27, 27);
  color: white;
}

.versionLeafGreen {
  background-color: rgb(28, 197, 70);
  color: black;
}

.versionHeartGold {
  background-color: rgb(255, 196, 70);
  color: black;
}

.versionSoulSilver {
  background-color: rgb(204, 204, 204);
  color: black;
}

.versionRuby {
  background-color: rgb(187, 7, 7);
  color: white;
}

.versionSapphire {
  background-color: rgb(24, 58, 153);
  color: white;
}

.versionEmerald {
  background-color: rgb(29, 151, 60);
  color: white;
}

.versionDiamond {
  background-color: rgb(66, 114, 174);
  color: white;
}

.versionPearl {
  background-color: rgb(154, 88, 155);
  color: white;
}

.versionPlatinum {
  background-color: rgb(185, 186, 188);
  color: black;
}

.versionBlack {
  background-color: rgb(15, 15, 15);
  color: white;
}

.versionWhite {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  color: black;
}

.versionBlack2 {
  background-color: rgb(15, 15, 15);
  color: white;
}

.versionWhite2 {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  color: black;
}

.versionX {
  background-color: rgb(0, 125, 199);
  color: white;
}

.versionY {
  background-color: rgb(238, 28, 37);
  color: white;
}

.versionOmegaRuby {
  background-color: rgb(187, 7, 7);
  color: white;
}

.versionAlphaSapphire {
  background-color: rgb(24, 58, 153);
  color: white;
}

.versionSun {
  background-color: rgb(251, 168, 26);
  color: black;
}

.versionMoon {
  background-color: rgb(40, 192, 241);
  color: black;
}

.versionUltraSun {
  background-color: rgb(251, 168, 26);
  color: black;
}

.versionUltraMoon {
  background-color: rgb(40, 192, 241);
  color: black;
}

.versionLetsGoPikachu {
  background-color: rgb(255, 224, 0);
  color: black;
}

.versionLetsGoEevee {
  background-color: rgb(136, 82, 9);
  color: white;
}

.versionSword {
  background-color: rgb(0, 161, 233);
  color: white;
}

.versionShield {
  background-color: rgb(229, 0, 90);
  color: white;
}

.versionBrilliantDiamond {
  background-color: rgb(66, 114, 174);
  color: white;
}

.versionShiningPearl {
  background-color: rgb(154, 88, 155);
  color: white;
}

.versionLegendsArceus {
  background-color: rgb(54, 89, 123);
  color: white;
}

.separator {
  height: 4px;
  background-color: black;
  width: calc(100% - 128px);
  margin: 0 auto;
}

.layer1 {
  width: fit-content;
  display: inline-block;
  margin: 0 auto;
}

.layer2 {
  width: fit-content;
  display: inline-block;
  margin: 0 auto;
}

.layer3 {
  width: fit-content;
  display: inline-block;
  margin: 0 auto;
}

.evolutionNode {
  width: 100px;
  display: inline-block;
  margin: 0 10px;
  padding: 10px 3px;
  border: 3px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.evolutionNode p {
  margin: 0;
}

.evolutionNode img {
  max-height: 90px;
  max-width: 90px;
}

.evolutionNodeSelf {
  width: 100px;
  display: inline-block;
  margin: 0 10px;
  padding: 10px 3px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: rgb(228, 198, 150);
}

.evolutionNodeSelf p {
  margin: 0;
  font-weight: bold;
}

.evolutionNodeSelf img {
  max-height: 90px;
  max-width: 90px;
}

.evolutionArrow {
  width: 4px;
  height: 15px;
  background-color: black;
  margin: 0 auto;
}

.flavor {
  border: 10px solid rgb(202, 154, 75);
  -webkit-box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  -moz-box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  border-radius: 50px;
  width: 70%;
  margin: 25px auto;
}

.flavor h1 {
  margin: 0;
  background-color: rgb(202, 154, 75);
  border-radius: 35px 35px 0 0;
  height: 65px;
  line-height: 65px;
  position: relative;
  font-size: 2.5em;
  color: rgb(255, 243, 224);
}

.flavor .tab {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.flavor .tabSelected {
  width: fit-content;
  height: fit-content;
  padding: 7px 5px;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgb(255, 243, 224);
  -moz-box-shadow: inset 0px 0px 0px 3px rgb(255, 243, 224);
  box-shadow: inset 0px 0px 0px 3px rgb(255, 243, 224);
  display: inline-block;
  border-radius: 12px;
}

.flavorVersions {
  background-color: rgb(202, 154, 75);
  padding: 10px;
}

.genderRatioContainer {
  position: relative;
  width: 160px;
  height: 20px;
  margin: 0 auto;
}

.genderRatioContainer .female {
  display: inline-block;
  background-color: pink;
  border-radius: 10px 0 0 10px;
  height: 20px;
}

.genderRatioContainer .male {
  display: inline-block;
  background-color: skyblue;
  border-radius: 0 10px 10px 0;
  height: 20px;
}

.genderRatioContainer .genderless {
  display: inline-block;
  background-color: indigo;
  border-radius: 10px 10px 10px 10px;
  height: 20px;
}

.pokemonForms {
  margin-right: 20%;
  margin-top: 150px;
  transform: skew(0deg, -20deg);
  text-align: right;
}

.pokemonForms h1 {
  font-size: 2.5em;
  width: fit-content;
  margin-left: auto;
}

.form {
  font-size: 1.5em;
  font-weight: normal;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
}

.form:hover {
  font-weight: bold;
  padding: 2px 10px;
  border: 3px solid rgb(202, 154, 75);
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.formSelected {
  font-size: 1.5em;
  font-weight: bold;
  width: fit-content;
  margin-left: auto;
  padding: 5px 10px;
  background-color: rgb(202, 154, 75);
  color: white;
  border-radius: 15px;
}

.stats {
  margin-top: 150px;
  margin-left: 20%;
  text-align: left;
  transform: skew(0deg, 20deg);
}

.stats h1 {
  font-size: 2.5em;
}

.stats p {
  font-size: 1.5em;
  margin: 10px 0;
  margin-bottom: 20px;
  margin-left: 25px;
}

.statBarContainer {
  position: relative;
  width: 250px;
  height: 20px;
}

.statBar {
  position: absolute;
  height: 20px;
  background-color: red;
  transition: 2s all;
  width: 0%;
  animation: width 1s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes width {
  to {
    width: 100%;
  }
}

.statBar:before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 20px;
  height: 100%;
  width: 100%;
  background-color: rgb(180, 0, 0);
  transform: skewX(-45deg);
}

.statBar:after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 10px;
  height: 100%;
  width: 20px;
  background-color: rgb(130, 0, 0);
  transform: skewY(-45deg);
}

.statBarIndicator {
  margin-top: 2px;
  width: 250px;
  height: 3px;
  background-color: rgb(202, 154, 75);
}

.encounter {
  border: 10px solid rgb(202, 154, 75);
  -webkit-box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  -moz-box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  border-radius: 50px;
  width: 70%;
  margin: 25px auto;
}

.encounter h1 {
  margin: 0;
  background-color: rgb(202, 154, 75);
  border-radius: 35px 35px 0 0;
  height: 65px;
  line-height: 65px;
  position: relative;
  font-size: 2.5em;
  color: rgb(255, 243, 224);
}

.encounter .tab {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.encounter .tabSelected {
  width: fit-content;
  height: fit-content;
  padding: 7px 5px;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgb(255, 243, 224);
  -moz-box-shadow: inset 0px 0px 0px 3px rgb(255, 243, 224);
  box-shadow: inset 0px 0px 0px 3px rgb(255, 243, 224);
  display: inline-block;
  border-radius: 12px;
}

.encounterVersions {
  background-color: rgb(202, 154, 75);
  padding: 10px;
}

.moves {
  border: 10px solid rgb(202, 154, 75);
  -webkit-box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  -moz-box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  border-radius: 50px;
  width: 70%;
  margin: 25px auto;
}

.moves h1 {
  margin: 0;
  background-color: rgb(202, 154, 75);
  border-radius: 35px 35px 0 0;
  height: 65px;
  line-height: 65px;
  position: relative;
  font-size: 2.5em;
  color: rgb(255, 243, 224);
}

.moves .tab {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.moves .tabSelected {
  width: fit-content;
  height: fit-content;
  padding: 7px 5px;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgb(255, 243, 224);
  -moz-box-shadow: inset 0px 0px 0px 3px rgb(255, 243, 224);
  box-shadow: inset 0px 0px 0px 3px rgb(255, 243, 224);
  display: inline-block;
  border-radius: 12px;
}

.moveVersions {
  background-color: rgb(202, 154, 75);
  padding: 10px 20px;
}

.versionMove {
  background-color: rgb(229, 0, 90);
  color: white;
}

.moveTable {
  margin: 0 auto 30px auto;
  width: 70%;
  border-spacing: 0;
  border-collapse: collapse;
}

.moveTable th {
  border-spacing: 0;
  background: rgb(255, 243, 224);
}

.moveTable h2 {
  padding-left: 20px;
  padding-right: 20px;
}

.moveTable h3 {
  margin: 0 0 10px 0;
}

.moveTable p {
  margin: 5px auto;
}

.moveTable .description {
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.moveTable .sticky {
  position: sticky;
  top: 100px; /* Don't forget this, required for the stickiness */
}

.abilities {
  border: 10px solid rgb(202, 154, 75);
  -webkit-box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  -moz-box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  box-shadow: inset 0px 0px 0px 2px rgb(202, 154, 75);
  border-radius: 50px;
  width: 70%;
  margin: 25px auto;
}

.abilities h1 {
  margin: 0;
  background-color: rgb(202, 154, 75);
  border-radius: 35px 35px 0 0;
  height: 65px;
  line-height: 65px;
  position: relative;
  font-size: 2.5em;
  color: rgb(255, 243, 224);
}

.attrTableContainer {
  box-shadow: inset 0px 0px 0px 2px rgb(202 154 75);
  border: 10px solid rgb(202, 154, 75);
  border-radius: 50px;
  width: 70%;
  margin: 0 auto;
  background-color: rgb(202, 154, 75);
}

.attrTableContainer h1 {
  margin: 0;
  background-color: rgb(202, 154, 75);
  border-radius: 35px 35px 0 0;
  height: 65px;
  line-height: 65px;
  position: relative;
  font-size: 2.5em;
  color: rgb(255, 243, 224);
}

.attrTable {
  margin: 0 auto;
  width: 95%;
  border-spacing: 0;
  background-color: rgb(202, 154, 75);
}

.attrTable th {
  padding-top: 20px;
  height: 50px;
}

.attrTable td {
  background-color: rgb(255, 243, 224);
  padding: 10px 0 10px 0;
}

.attrTable th p {
  width: fit-content;
  margin: 0 auto;
  padding: 5px 20px;
  color: rgb(255, 243, 224);
  font-size: 1.5em;
}

.attrTable .link {
  display: inline-block;
  color: rgb(202, 154, 75);
  font-weight: bold;
  margin: 10px 5px;
  padding: 5px 10px;
  border: 3px solid rgb(202, 154, 75);
  border-radius: 15px;
}

.attrTable .link:hover {
  background-color: rgb(202, 154, 75);
  color: rgb(255, 243, 224);
}

.attrTableEnd {
  height: 70px;
  width: 100%;
  background-color: rgb(202, 154, 75);
  border-radius: 0 0 35px 35px;
}

.checkbox {
  height: 40px;
  width: 40px;
}

.loadingImg {
  margin: 20px;
  height: 30px;
  width: 30px;
  max-height: 80%;
  border: none;
  animation: rotate 1.5s linear infinite;
}

.loadingImgLarge {
  margin: 30px;
  height: 200px;
  width: 200px;
  max-height: 80%;
  border: none;
  animation: rotate 1.5s linear infinite;
}

.loadingImgPokemon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  border: none;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.showcaseContainer {
  margin-top: -20px;
  margin-bottom: 100px;
  vertical-align: top;
}

.showcase {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

.showcaseImage {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 600px;
}

.showcaseImage img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.showcaseImage .crosshair1 {
  position: absolute;
  width: 120%;
  left: -10%;
  opacity: 0.5;
  z-index: 2;
  animation: pulse 5s ease-in-out infinite;
}

.showcaseImage .crosshair2 {
  position: absolute;
  width: 120%;
  left: -10%;
  opacity: 0.5;
  z-index: -2;
  animation: rotate 25s linear infinite;
}

.showcaseImage .crosshair3 {
  position: absolute;
  width: 120%;
  left: -10%;
  opacity: 0.5;
  z-index: 2;
  animation: pulseStrong 3s ease-in-out infinite;
}

.showcaseImage .crosshair4 {
  position: absolute;
  width: 120%;
  left: -10%;
  opacity: 0.5;
  z-index: 2;
  animation: pulseInner 3s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseStrong {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

@keyframes pulseInner {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-180deg) scale(0.8);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}

.favourites {
  width: fit-content;
  margin-top: 13px;
  margin-right: 15%;
  margin-left: auto;
}

.starContainer {
  margin-left: auto;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: white;
}

.star {
  margin: 0 auto;
  height: 100%;
  width: fit-content;
  vertical-align: middle;
}

.favouriteList {
  margin-top: 17px;
  width: fit-content;
  padding: 0 30px;
  height: fit-content;
  background-color: rgb(255, 243, 224);
  border: 5px solid rgb(202, 154, 75);
  border-radius: 0 0 30px 30px;
}

.favouriteList h4 {
  color: black;
}

.favouriteEntry {
  color: black;
  vertical-align: middle;
  height: 80px;
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.favouriteEntry img {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 0 10px;
}

.favouriteEntry .name {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

.favouriteEntry .name:hover {
  text-decoration: underline;
}

.favouriteEntry .id {
  display: inline-block;
  font-weight: bold;
  border: 2px solid black;
  height: fit-content;
  padding: 4px 6px;
  border-radius: 10px;
  margin-right: 10px;
}

.favouriteEntry .remove {
  margin-left: 10px;
  display: inline-block;
  font-weight: bold;
  color: rgb(202, 154, 75);
  height: fit-content;
  cursor: pointer;
}

.favouriteEntry .remove:hover {
  color: red;
}
