body {
  margin: 150px 0;

  font-family: "Exo 2", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 243, 224);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(202, 154, 75);
  margin: auto;
  z-index: 1;
  color: white;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 1.5em;
  border-bottom: 4px dotted white;
}

.header h1 {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: fit-content;
}

.searchBy {
  position: absolute;
  left: 15px;
  top: 10px;
  line-height: 25px;
  text-align: center;
}

.header p {
  margin: 5px 5px;
  padding: 0 5px;
  font-size: 18px;
  display: inline-block;
  border: 2px solid white;
}

.header p:hover {
  background-color: white;
  color: rgb(202, 154, 75);
  font-weight: bold;
}

.header h4 {
  margin: 2px 0 10px 0;
}

.selectionContainer {
  width: 400px;
  height: 405px;
  display: inline-block;
  cursor: pointer;
}

.selectionContainer h1 {
  margin: 0;
  margin-bottom: 20px;
  color: rgb(202, 154, 75);
  transition: 0.4s all;
}

.selectionContainer:hover > h1 {
  color: black;
}

.selectionContainer:hover > #imageContainer img {
  border: 10px solid black;
  opacity: 1;
  transform: scale(1.05);
}

.selectionContainer #imageContainer {
  height: 360px;
  width: 360px;
  margin: 0 auto;
}

.selectionContainer #imageContainer img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border: 10px solid rgb(202, 154, 75);
  border-radius: 50px;
  transition: 0.4s all;
  opacity: 0.6;
}

.imageContainer {
  margin: auto;
  height: 300px;
  width: 80%;
  line-height: 300px;
  text-align: center;
}

.imageContainer img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.generation {
  vertical-align: top;
  position: relative;
  width: 350px;
  height: 400px;
  cursor: pointer;
  display: inline-block;
  border: 10px solid rgb(202, 154, 75);
  border-radius: 50px;
  margin: 0 2% 2% 2%;
  background-color: rgb(255, 243, 224);
  font-size: 2em;
  transition: 0.4s all;
  opacity: 0.6;
}

.generation:hover {
  border: 10px solid black;
  opacity: 1;
  transform: scale(1.05);
}

.generation:hover > p {
  color: black;
  opacity: 1;
}

.generation p {
  margin: 3%;
  font-weight: bold;
  color: rgb(202, 154, 75);
  transition: 0.4s all;
}

.generationDiv h1 {
  margin-bottom: 2%;
}

.generationDiv .sorting {
  display: inline-block;
  margin-right: 6%;
  font-size: 1em;
}

#sort {
  font-size: 1em;
}

.generationDiv label {
  margin-right: 5px;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  line-height: 31px;
}

#search {
  display: inline-block;
}

#searchInput {
  font-size: 1.5em;
  border: none;
  border-bottom: 2px solid rgb(202, 154, 75);
  background-color: transparent;
  color: rgb(53, 53, 53);
  outline: none;
}

#magnifyingGlass {
  height: 30px;
  width: 30px;
  margin-left: 10%;
  margin-right: 2%;
  display: inline-block;
}

.pokedex {
  vertical-align: top;
  width: 12%;
  display: inline-block;
  border: 4px solid rgb(202, 154, 75);
  border-radius: 10px;
  margin: 1%;
  cursor: pointer;
  padding: 1% 0.5%;
  font-weight: bold;
  transition: 0.4s all;
}

.pokedex:hover {
  border: 4px solid black;
  transform: scale(1.05);
}

.pokemonContainer {
  width: 70%;
  margin: 0 auto;
}

.pokemon {
  vertical-align: top;
  width: 12%;
  height: 150px;
  display: inline-block;
  border: 4px solid rgb(202, 154, 75);
  border-radius: 10px;
  margin: 1%;
  cursor: pointer;
  padding: 1% 0.5%;
  font-weight: bold;
  transition: 0.4s all;
}

.pokemon:hover {
  border: 4px solid black;
  transform: scale(1.1);
}

.pokemonImageContainer {
  margin: auto;
  margin-bottom: 15px;
  height: 100px;
  width: 80%;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

.pokemon img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 100px;
  vertical-align: middle;
}

.back {
  width: 13%;
  border: 3px solid rgb(202, 154, 75);
  border-radius: 10px;
  padding: 0.5%;
  text-align: center;
  cursor: pointer;
}

.region {
  width: 80%;
}

.regionContainer {
  display: inline-block;
}
